body {
  text-align: center;
}

h1 {
  font-size: 30pt;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.new-task-field {
  font-size: 14px;
  border: 1px solid gray;
  width: 300px;
  padding: 4px;
}

.add-btn {
  font-size: 20px;
}

.task-list-box {
  margin: auto;
  margin-top: 30px;
  width: 350px;
}

ul {
  font-size: 14pt;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 15px;
  border: 1px solid black;
  margin-top: -1px;
}

.task-checkbox {
  margin-right: 8px;
}

.x-img {
  width: 24px;
  float: right;
  padding: 0;
  visibility: hidden;
}